<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oc.liza.mynewsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".controller.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activities.SearchActivity"
            android:label="Search Articles"
            android:parentActivityName=".controller.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme" />
        <activity
            android:name=".controller.activities.NotificationActivity"
            android:label="Notifications"
            android:parentActivityName=".controller.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme" />
        <activity
            android:name=".controller.activities.SearchResultActivity"
            android:label="Search results"
            android:parentActivityName=".controller.activities.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme" />
        <activity
            android:name=".controller.activities.ArticleWebviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme" />
        <activity
            android:name=".controller.activities.HelpActivity"
            android:label="Help"
            android:parentActivityName=".controller.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme" />
        <activity
            android:name=".controller.activities.AboutActivity"
            android:label="About"
            android:parentActivityName=".controller.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme" />

    </application>

</manifest>